# Compiled class files
*.class

# Log files
*.log

# Virtual machine crash logs
hs_err_pid*

# Directories for project-specific tools
.bsp/
.metals/
.scala-build/
.bloop/

# sbt specific
project/
target/

# Scala 3 specific
*.tasty

# IntelliJ IDEA specific
.idea/
*.iml

# VS Code specific
.vscode/

# MacOS specific
.DS_Store

# Temporary directories
*tmp*/

#api
api/